{% extends 'layout.twig' %}

{% block scripts %}
<script src="/javascripts/animate.js" type="text/javascript"></script>
<script src="/javascripts/update.js" type="text/javascript"></script>
{% endblock %}

{% block body %}
<div class="viewport">
    <div id="top-left" class="view">
      <div class="summary">{{ forecast.daily.summary }}</div>
      <div class="daily">
        {% for day in forecast.daily.data %}
        {% if loop.index < 4 %}
          <div class="card">
            <day>{{ day.time|date('l') }}</day>
            <icon><i class="wi {{ iconMap[day.icon] }}"></i></icon>
            <summary>{{ day.summary }}</summary>
            <sunrise><i class="wi wi-sunrise"></i> {{ day.sunriseTime|date('H:i') }}</sunrise>
            <sunset><i class="wi wi-sunset"></i> {{ day.sunsetTime|date('H:i') }}</sunset>
            <templow>{{ day.temperatureMin|number_format }}<i class="wi wi-fahrenheit"></i> <i class="wi wi-thermometer-exterior"></i> {{ day.temperatureMinTime|date('H:i') }}</templow>
            <temphigh>{{ day.temperatureMax|number_format }}<i class="wi wi-fahrenheit"></i> <i class="wi wi-thermometer"></i> {{ day.temperatureMaxTime|date('H:i') }}</temphigh>
            <humidity>{{ day.humidity * 100 }}% <em>Humidity</em></humidity>
            <windspeed>{{ day.windSpeed|number_format }}-{{ day.windGust|number_format }}<em>mph</em> <i class="wi wi-strong-wind"></i> {{ day.windDirection }}</windspeed>
            <uvindex class="uv-{{ day.uvIndex }}">UV Index: {{ day.uvIndex }}</uvindex>
          </div>
        {% endif %}
        {% endfor %}
        </div>
    </div>

    <div id="top-right" class="view">
      <iframe src="https://calendar.google.com/calendar/embed?src=6sl5mgpgmkvankaefnh8tgjj1s%40group.calendar.google.com&ctz=America/Chicago" style="border: 0; width: 100vw; height: 100vh;" width="1440" height="900" frameborder="0" scrolling="no"></iframe>
    </div>

    <div id="bottom-left" class="view">
      <iframe seamless style="width: 100vw; height: 100vh; border: none;" src="https://widget.eventlink.com/?c=%5B%7B%22i%22%3A%22d24bb0eb-d892-48c8-a57b-eb757ccce055%22%2C%22t%22%3A%22Bibich%20Elementary%20School%22%2C%22c%22%3A%22%2345D4FF%22%2C%22f%22%3A%22%23000000%22%7D%0A%2C%7B%22i%22%3A%2264425b25-585b-44d2-90ea-9c42e04b1cd0%22%2C%22t%22%3A%22Lake%20Central%20School%20District%22%2C%22c%22%3A%22%2345D4FF%22%2C%22f%22%3A%22%23000000%22%7D%5D&amp;t=647d3d04-b05d-49b5-a93c-23bdeb687af9">
      </iframe>
    </div>

    <div id="bottom-right" class="view">
      <img id="image-of-the-day" src="{{ imageOfTheDay }}"/>
    </div>
</div>

{% endblock %}

